/*
網頁切版 : 區塊練習
*/

.header{
    width: 100%;
    height: 100%;
    margin: auto;
}
.banner{
    max-height: 30em;
    background-color: #ccc;
}
.banner-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    h1{
        border-bottom: 2px solid #fff;
        padding-bottom: 0.3em;
        margin-bottom: 0.3em;
        small{
            display: block;
        }
    }
    p{
        width: 50%;
    }
}
@media screen and (min-width:480px) {
    .banner-txt{
        margin-bottom: 2em;
    }
}